
$primaryColor: #009899 !default;

::-moz-selection {
	background: $primaryColor;
	text-shadow: none;
	color: contrast($primaryColor);
}
::selection {
	background: $primaryColor;
	text-shadow: none;
	color: contrast($primaryColor);
}