$borderWidth: 1px !default;
$borderStyle: solid !default;
$borderColor: chartreuse;
$bottomMargin: 1.5em !default;

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $borderWidth $borderStyle $borderColor;
    max-width: em($gridMaxWidth);
    margin: 0 0 $bottomMargin 0;
    padding: 0;
}