/*
	Normalize.css | By Nicolas Gallagher |git.io/normalize
=======================
======================= */
/*
 * Form fields now inherit their appearance (family, size & line-height)
 * from body. /* Carlos
 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}a:focus{outline:thin dotted;}a:hover,a:active{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;white-space:normal;margin-left:-7px;padding:0;}/* Form field edit starts here */button,input,select,textarea{font-size:inherit;font-family:inherit;line-height:inherit;vertical-align:middle;margin:0;}button,input{line-height:normal;}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{height:13px;width:13px;padding:0;}input[type=search]{-webkit-appearance:textfield;}input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure,form{margin:0;}p,pre,dl,menu,ol,ul{margin:1em 0;}

/*
	Base
=======================
======================= */

*,
*:before,
*:after {
/*
 * Pseudo elements (after & before) should actually be written with double colon
 * but older IE only understands single colon. Change box-sizing to include
 * padding & border widths into box model calculations, works in IE8+ so no
 * reason not to. IE7 box model is inconsistent anyway and needs to be dealt
 * with exclusively either way.
 */
 	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}
/*

*/
::-moz-selection {background: #D2802D; text-shadow: none; color:white;}
::selection {background: #D2802D; text-shadow: none; color:white;}

* {
	transition: all 150ms ease-in-out 0ms;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {}

body {
	color:#2d2d2d;
	font: 300 16px/1.5 'Roboto', sans-serif;
	border-top: .375em solid #2d2d2d; 0.9375 0.94
}

p {position:relative; margin:0 0 1.5em 0;}

img, embed, object, .color-sample {vertical-align: middle;}

h1, h2, h3, h4, h5, h6 {
	color: #d2802d;
	font: 900 2.5em/1.2 'Alegreya', Georgia, serif;
	letter-spacing:.01em;
	margin: 0 0 .809em 0;
	text-transform:capitalize;
	white-space: pre-wrap;
}
h2 {font-size:2em}
h3 {font-size:1.75em;}
h4 {font-size:1.5em;}
h5 {font-size:1.25em;}
h6 {font-size:1.15em;}

/*
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid silver;
    max-width: 66.6666%;
    margin: 1.5em auto;
    padding: 0;
}
.row hr {max-width: 100%;}

blockquote {
	border-left: .375em solid #E65C4C
}

a:link, a:visited {
	text-decoration:none;
}
a:hover, a:focus, a:active {
}
section {margin:0 auto;}

section {
	width: 100%;
	height: 100%;
	display:table;
	background-color: white;
	background-repeat: no-repeat;
}
.container {
	position: relative;
	/*display: block;*/
	width:100%;
	padding:1.5em 0;
	/*height:100%;*/
	display: table-cell;
	vertical-align: middle;
}
/*
		12x Column
======================= */
.row {max-width:66.6666%; margin:0 16.6667% 0 16.6667%; position: relative;}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
float:left; position:relative; margin: 0 5% 0 0;
}

.col1 {width:3.75%;}
.col2 {width:12.5%;}
.col3 {width:21.25%;}
.col4 {width:30%;}
.col5 {width:38.75%;}
.col6 {width:47.5%;}
.col7 {width:56.25%;}
.col8 {width:65%;}
.col9 {width:73.75%;}
.col10 {width:82.5%;}
.col11 {width:91.25%;}

.col12 {position:relative; width:100%;}

.row div:last-child {margin-right:0;}

.boxed {padding:1.5em;}

.align-right {text-align:right;}
.align-center {text-align:center;}

.row:before,.row:after {content:" ";display:table;}.row:after{clear:both;}.row{*zoom:1;}

/*
		Colors
======================= */
.color-sample {
	display: inline-block;
	width: 1.5em; height:1.5em;
	border-radius: 50%;
	margin:0 .375em .375em 0;
}

.bronze {background: hsla(30,65%,50%,1);}
.bronze.lighter {background: hsla(30,70%,55%,1);}
.bronze.darker {background: hsla(30,60%,45%,1);}

.gold {background: hsla(45,65%,50%,1);}
.gold.lighter {background: hsla(45,70%,55%,1);}
.gold.darker {background: hsla(45,60%,45%,1);}

.seagreen {background: hsla(150,65%,50%,1);}
.seagreen.lighter {background: hsla(150,70%,55%,1);}
.seagreen.darker {background: hsla(150,60%,45%,1);}

/*
		Buttons
======================= */
.btn {
	display: inline-block;
	padding:.375em .75em;
	padding: .75em 1.5em;
	border-radius: .375em;
	/*background: #d2802d;*/
	color:white;
	border:1px solid transparent;
	margin:0 .75em .75em 0;


}
.contrast {background: #2dd280;}
.btn:visited {
	background: #2d2d2d;
}

.btn:hover,
.btn:focus,
.btn:active {
	background: #DD8C3C;
	text-decoration: none;
}
.contrast:hover,
.contrast:focus,
.contrast:active {background: #3CDD8C;}

.is-disabled {
	background: transparent;
	border:1px solid #d2d2d2;
	color:#d2d2d2;
}
.is-disabled:hover,
.is-disabled:focus,
.is-disabled:active {background: transparent; cursor:default;}
.small {font-size:0.75em;}
.large {font-size:1.25em;}

/*
		Form Styles
======================= */
form {
	font: 0/0 a;
}
form * {
	font: 300 16px/1.5 'Roboto', Georgia, serif;
}
fieldset {
	padding:1.5em;
}
legend {
	font-size: 0.75em;
	padding: 0 1.5em;
	color:#d2d2d2;
	letter-spacing: .1em;
	text-transform: uppercase;
}
form div {margin:0 0 .75em 0;}
form div:last-child {margin:0;}
fieldset,
input,
select,
textarea {
	border-radius: .375em;
	border:1px solid #d2d2d2;
}
input,
select,
textarea {
	padding:.375em .5em;
	display: inline-block;
	width: 64%;
}
textarea {
	max-width: 64%;
	height:9em;
}
input[type="radio"],
input[type="checkbox"] {
	background:rgba(255,0,0,.2);
	display: inline-block;
	vertical-align: baseline;
}
input[type="radio"] + input[type="radio"],
input[type="checkbox"] + input[type="checkbox"] {
	margin: 0 0 0 33%;
	background:rgba(0,255,0,.2);
}

input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus,
input:active,
select:active,
textarea:active {
	background:#f3f3f3;
}
input:focus,
select:focus,
textarea:focus {
	border-color:#808080;
}

label {width: 33%; display: inline-block;}
label:hover {cursor:pointer;}

@media all and (min-width: 47.375em) {


}